<app-navagation-students></app-navagation-students>

<div class="container-fluid">
  <div class="card text-black">
    <div class="card-header">
      <div class="card-title">
        <h3 class="text-center">Bienvenido {{ alumno.nombre_alumno }}</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-xl-8">
          <div class="container">
            <p id="welcome" class="text-center">
              Has ingresado a la pagina wed de la intitucion educativa normativa
              evolution, en la sesión de estudiantes, en la cual podrás
              verificar tú progamador de clases, notas, servicios en los cuales
              estas y a cuales puedes hacer peticiones para que los
              administrativos hagan su respectivo registro
            </p>
            <h6 class="text-center">
              Esperamos que disfrutes la interaccion en nuestra pagina
            </h6>
          </div>
        </div>
        <div class="col-md-3 col-xl-3">
          <div *ngIf="hidden">
            <div>
              <p *ngFor="let ib of informacionBeca" class="ms-2" id="parrafo">
                {{ ib.nombre_alumno }} tu beca con codigo {{ ib.codigo_beca }}:
                {{ ib.descripcion }} es cubierta por el servicio
                {{ ib.tipo_servicio }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


