<div class="m-2">
        <app-navagation-students></app-navagation-students>
        <br>
        <div class="page-header mt-5">
            <br>
            <h2>Sesion estudiante</h2>
            <br>
        </div>
        <br>
        <h6> Estas en la pagina principal</h6>
        <div class="row">
            <div class="col-md-8">
                <div class="card mt-4">
                    <div class="card-header mt-4">
                        <a routerLink="../estudiantes" class="btn btn-primary text-center">Principal</a>&nbsp;
                        <a routerLink="../progamador" class="btn btn-primary text-center">Progamador</a>&nbsp;
                        <a routerLink="../notas" class="btn btn-primary text-center">Notas</a>&nbsp;
                        <a routerLink="../servicios" class="btn btn-primary text-center">Servicios</a>
                        <div class="card-body mt-4">
                            <p>Esta es la intitucion evolution system, esta pagina wed esta generada para que tu
                                como
                                estudiante
                                puedas tener una mayor agilidd con la visulizacion de sus notas, mejorar las
                                posivilidades de
                                acceso a becas y servicios que ofrece nuestra institucion</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-white text-justify">
                <div class="infromacion text-left">
                    <div class="card mt-4">
                        <div class="card-header mt-4">
                            <div class="fondo">
                                <h3>Nombre del estudiante</h3>
                                <p>Numero de identificacion
                                <p>
                                <p>Fecha de nacimiento
                                <p>
                                <p>Grado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header text-lef">
                        <p class="fondop">Evolution sisteam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

