legend.centrado {
  text-align: center;
}

fieldset {
  background-color: #4aa1f3f3;
}

img {
  width: 100px;
  border-radius: 50%;
}

.img-grupos {
  width: 200px;
}


.welcome{
  font-size: 20px;
  text-align: justify;
}
