<app-navigation-admin></app-navigation-admin>
<div class="body-page">
    <div class="m-2">
        <br>
        <h6> Estas en la pagina de alumnos</h6>
        <div class="row">
            <div class="col-md-2">
                <div class="card mt-4">
                    <div class="card-header mt-4">
                        <a routerLink="" class="btn btn-primary text-center">Registrar</a><br><br>
                        <a routerLink="" class="btn btn-primary text-center">Verificar</a><br><br>
                        <a routerLink="" class="btn btn-primary text-center">Modificar</a><br><br>
                        <a routerLink="" class="btn btn-primary text-center">Eliminar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card mt-4">
                    <div class="card-header mt-4">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-dark">
                <div class="card mt-4">
                    <div class="card-header text-lef">
                        <p class="fondop">Evolution sisteam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
