<app-navigation-admin></app-navigation-admin>

<div class="body-page text-dark">
  <div class="m-2">
    <br />
    <h6>Estas en la pagina de grupos</h6>
    <div class="row">
      <div class="col-md-2">
        <div class="card mt-4">
          <div class="card-header mt-4">
            <a routerLink="/admin/registro" class="btn btn-primary text-center"
              >Registrar</a
            ><br /><br />
            <a
              routerLink="/admin/actualizar"
              class="btn btn-primary text-center"
              >Actualizar</a
            ><br /><br />
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-header mt-4">
          <h3>Registrar</h3>
          <div class="abs-center">
            <div class="card mt-4">
              <form
                method="post"
                action="crud.component.html"
                class="was-validated"
              >
                <fieldset>
                  <legend class="abs-center">Registrar grupo</legend>
                  <label for="identificador">Identificador </label><br />
                  <input
                    class="form-control"
                    type="numbre"
                    [(ngModel)]="grado.cod_gra"
                    name="identificador"
                    placeholder="Ingrese el identificador"
                    required
                  />
                  <br />
                  <label for="rangogr">Rango de grados</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="rangogr"
                    [(ngModel)]="grado.rango_grad"
                    placeholder="Ingrese el rango"
                    required
                  />
                  <br />
                  <label for="carateristicagr">Caracteristicas del grado</label
                  ><br />
                  <input
                    class="form-control"
                    type="text"
                    name="caracteristicagr"
                    [(ngModel)]="grado.carac_grad"
                    placeholder="Ingrese caracteristicas"
                    required
                  />
                  <br />
                  <label for="nombregr">Nombre del grado</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="nombregr"
                    [(ngModel)]="grado.nom_grad"
                    placeholder="Ingrese el nombre"
                    required
                  />
                  <br />
                  <label for="plangr">Plan de grado</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="plangr"
                    [(ngModel)]="grado.plan_grad"
                    placeholder="Ingrese plan"
                    required
                  />
                  <br />
                  <label for="descripciongr">Descripcion de grado</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="descripciongr"
                    [(ngModel)]="grado.desc_grad"
                    placeholder="Ingrese la descripcion"
                    required
                  />
                  <br />
                  <input
                    class="btn btn-success form-control"
                    type="submit"
                    (click)="createGrado()"
                    [routerLink]="['/admin/grupos']"
                    value="Registrar"
                    name="Registrar"
                  />
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card mt-4">
          <div class="card-header text-lef">
            <p class="fondop">Evolution sisteam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
