<app-navagation-docente></app-navagation-docente>

<br />
<br />
<br />

<div class="row">
  <div class="col-md-10">
    <div class="card mt-2">
      <div class="card-header mt-2">
        <table class="table table-bordered border-primary">
          <caption></caption>
          <thead>
            <tr>
              <th col>Fecha</th>
              <th col>Lunes</th>
              <th col>Martes</th>
              <th col>Miercoles</th>
              <th col>Jueves</th>
              <th col>Viernes</th>
              <th col>Sabado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th row></th>
              <td>24444</td>
              <td>defg</td>
              <td>cvdfgbhn</td>
              <td>zxcv</td>
              <td>cvb</td>
              <td>cxvb</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
