<app-navagation-docente></app-navagation-docente>

<br />
<br />
<br />

<div class="row">
  <div class="col-md-12">
    <div class="card m-auto mt-2">
      <div class="card-header mt-2">
        <table class="table table-bordered text-center ">
          <thead>
            <tr>
              <th col>FECHA</th>
              <th col>ASIGNATURA</th>
              <th col>GRUPO</th>
              <th col>DESCRIPCIÓN DEL GRUPO</th>
              <th col>HORA DE INGRESO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let horario of horarios" >
              <td>{{horario.fec_hor | date: 'dd/MM/yyyy'}}</td>
              <td>{{horario.nom_asi}}</td>
              <td>{{horario.nom_grad}}</td>
              <td>{{horario.desc_grad}}</td>
              <td>{{horario.hora}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>