a {
  background-color: #d6eeeb;
  color: black;
  font-style: arial;
  font-weight: bold;
  text-decoration: none;
  border-color: #d6eeeb;
}

p {
  font-style: arial;
  color: black;
}

h2 {
  color: black;
  font-style: arial;
}

h3 {
  background-color: #d6eeeb;
  color: black;
  font-style: arial;
}

h5 {
  background-color: #6acde5;
  color: black;
  font-style: arial;
}

h6 {
  background-color: #6acde5;
  color: black;
  font-style: arial;
  text-decoration: none;
  width: 230px;
}

.page-header {
  background-color: #6acde5;
  text-align: justify;
}

.container {
  background-color: #d6eeeb;
}

.fondop {
  background-color: #6acde5;
  color: black;
}

.body-page {
  margin-top: 5em;
}

.cabecero {
  background-color: white;
  border-color: #6acde5;
}

.bnavegacion {
  background-color: white;
  color: black;
  font-style: arial;
  font-weight: bold;
  text-decoration: none;
  border-color: white;
}

.logo {
  width: 60px;
}

.my-fixed-item {
  position: fixed;
  min-height: 120px;
  width: 252px;
  text-align: center;
  word-wrap: break-word;
  background-color: aquamarine;
}

.img-grupos {
  width: 200px;
}

legend.centrado {
  text-align: center;
}

#imagen {
  width: 100px;
  border-radius: 50%;
}

img {
  width: 10rem;
  border-radius: 100px;
  height: 10rem;
}

.button-grupo {
  background: var(--color-5);
}
