
legend.centrado {
    text-align: center;
  }
  
  #imagen {
    width: 50px;
    border-radius: 50%;
  }
  
  fieldset {
    background-color: #4aa1f3f3;
  }
  
  img {
    width: 50px;
    border-radius: 50%;
  }
<<<<<<< HEAD
  
=======

>>>>>>> a3e9372315c2219588dadb759760f309a6d8b9fe
