<!-- Modal -->
<div
  class="modal fade"
  id="asignarAsignaturas"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog text-black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="registrarGrado">
          {{ curso.nombre_curso }} {{ curso.nombre_grupo }}
        </h5>
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card-header mt-4">
            <div class="abs-center justify-content-center">
              <form
                method="post"
                action="crud.component.html"
                class="form d-flex"
              >
                <fieldset>
                  <div class="form-group">
                    <select
                      name="id_asignatura_cs"
                      [(ngModel)]="asignaturaCurso.id_asignatura_cs"
                      class="form-select"
                      id=""
                    >
                      <option value="">Asignar asignatura ...</option>
                      <option
                        *ngFor="let asignatura of asignaturas"
                        value="{{ asignatura.id_asi }}"
                      >
                        {{ asignatura.nom_asi | uppercase }}
                      </option>
                    </select>
                  </div>
                </fieldset>
                <button
                  type="submit"
                  (click)="createAsignacion()"
                  class="btn btn-success ms-2"
                >
                  Asignar
                </button>
              </form>
            </div>
          </div>
        </div>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody *ngIf="showAsignaturas">
            <tr *ngFor="let asignatura of asignaturasCurso">
              <td>{{ asignatura.id_asi }}</td>
              <td>{{ asignatura.nom_asi | uppercase }}</td>
              <td><button (click)="deleteAsignacion(asignatura.id_asi)" class="btn btn-danger ms-2 mb-2" >
                <i class="fa-solid fa-trash-can"></i>
              </button></td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!showAsignaturas">
          <h5>No tiene asignaturas asignadas</h5>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
<app-insert-alumno> </app-insert-alumno>
