<!-- Modal -->
<div
  class="modal fade"
  id="asignarAsignaturas"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog text-black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="registrarGrado">
          {{ curso.nombre_curso }} {{ curso.nombre_grupo }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card-header mt-4">
            <div class="abs-center justify-content-center">
              <form
                method="post"
                action="crud.component.html"
                class="form d-flex"
              >
                <fieldset>

                  <div class="form-group">
                    <select name="" class="form-select " id="">
                      <option value="">Asignar asignatura ...</option>
                      <option *ngFor="let asignatura of asignaturas" value="">{{asignatura.nom_asi | uppercase}}</option>
                    </select>
                  </div>
                </fieldset>
                <button type="submit" class="btn btn-success ms-2">Asignar</button>
              </form>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nota of asignaturaCurso">
              <td >{{ nota.id_asi }}</td>
              <td >{{ nota.nom_asi |uppercase }}</td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
<app-insert-alumno> </app-insert-alumno>
