<div class="body">
  <div class="container forma justify-content-center">
    <div class="row justify-content-center">

      <app-sliderjobs></app-sliderjobs>
      <div class="justify-content-center">
      <h1 >¿Quieres trabajar con nosotros?</h1>
      <!-- requisitos -->
      <div class="col-md-12 text-justify mb-2">
        <p class="into">
          Buscamos a formar un equipo de trabajo integro, amable, respetuoso y
          con mucha etica profesional el cual no ayude a proporicionar una mejor
          aducacion a toda la población a la cual esta dirigida nuestra
          institución
        </p>
        <div class="col-md-4 ">
          <div class=" tarjeta">
            <div class="">
              <h5>Diligencia el formulario para aplicar a un puesto</h5>
            </div>
            <div class="">
              <button id="iniciarModal" class="nav-link btn btn-primary form-control btn-block" data-bs-toggle="modal"
                data-bs-target="#ingresar" data-bs-whatever="@mdo">
                Aplicar al trabajo
              </button>
            </div>
          </div>
        </div>
        <h2>Requistos</h2>
        <ol>
          <li>
           <h3>Requisitos docentes </h3> <br>
             <li> Tener como mínimo especialización en alguna área en específico <br> </li>
              <li> Tener buena recomendación de trabajos anteriores <br> </li>
                <li> Ser una persona dedicada y respetuosa con los demás <br> </li>
                  <li> tener un buen puntage en las pruebas de estado <br> </li>
                    <li> seguirse especializando como docente <br> </li>
             <li>  no presentar irregularidades socilaes ni fiscales


           </li>



        </ol>
        <ol>
          <li>
          <h3>Requisitos docentes infantiles </h3> <br>
          <li> Tener como mínimo especialización en educación para primaria <br>  </li>
            <li> Tener buena recomendación de trabajos anteriores <br> </li>
              <li>   Ser paciente y saber trabajar con los niños <br> </li>
                <li> si desea palicar para el grado primero, debe tener experiencia trabajando con niños <br> </li>
                  <li>  tener todos sus documentos en orden <br> </li>
                    <li>   no presentar irregularidades socilaes ni fiscales


        </li>
      </ol>
      </div>
    </div>
  </div>
</div>

<!-- Modal para aplical a el trabajo-->
<div class="modal fade" id="ingresar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
        <!-- <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button> -->
      </div>
      <div class="modal-body ">
        <form class="cad-body">
          <div class="form-group">

          </div>
          <div class="form-group">
            <label for="documento" class="col-form-label">Nombres:</label>
            <input type="text" name="Nombres" class="form-control" />
          </div>
          <div class="form-group">
            <label for="documento" class="col-form-label">Apellidos:</label>
            <input type="text" name="Nombres" class="form-control" />
          </div>
          <div class="form-group">
            <label for="documento" class="col-form-label">Direccion:</label>
            <input type="text" name="Direccion" class="form-control" />
          </div>

          <div class="form-group">
            <label for="documento" class="col-form-label">Telefono:</label>
            <input type="text" name="Telefono" class="form-control" />
          </div>
          <div class="form-group">
            <label for="documento" class="col-form-label">Correo:</label>
            <input type="email" name="Correo" class="form-control" />
          </div>
          <div class="form-group">
            <label for="documento" class="col-form-label">Descricion :</label>
            <input type="email" name="Descricion" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <button type="button" class="btn btn-info" (click)="send()">
          <i class="fas fa-sign-in-alt"></i> enviar
        </button>
      </div>
    </div>
  </div>
</div>
