<!-- Modal registrar docente -->
<div
  class="modal fade bg-green"
  id="UpdateAlumno"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg text-black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrarDocente">Actualizar Alumno</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <fieldset>
          <legend class="content-dark">Información Personal</legend>
          <div class="row g-3 align-items-center">
            <div class="form-group mb-2 col-auto">
              <label for="tipoDocumento">Tipo de Documento</label>
              <select
                name="tipo_documento"
                class="form-control form-select"
                [(ngModel)]="user.tipoDocumento"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="1">Cedula de ciudadania</option>
                <option value="2">Targeta de identidad</option>
                <option value="3">Cedula de estrangeria</option>
              </select>
            </div>
            <div class="form-group mb-2 col-auto">
              <label for="nif">Documento </label>
              <input
                class="form-control"
                type="text"
                name="id_alumno"
                [(ngModel)]="alumno.id_alumno"
                placeholder="Ingrese el documento"
                readonly
              />
            </div>
            <div class="form-group mb-2 col-auto col-auto">
              <label for="nombres">Nombres</label>
              <input
                class="form-control"
                type="text"
                name="nombre_alumno"
                [(ngModel)]="alumno.nombre_alumno"
                [(ngModel)]="user.nombre"
                placeholder="Ingrese el nombre completo"
                required
              />
            </div>
            <div class="form-group mb-2 col-auto col-auto">
              <label for="direccion">Direccion</label>
              <input
                class="form-control"
                type="text"
                name="dir_alu"
                [(ngModel)]="alumno.direccion_alumno"
                placeholder="Ingrese la direccion"
                required
              />
            </div>
            <div class="form-group mb-2 col-auto">
              <label for="fecha">Fecha de nacimiento</label>
              <input
                class="form-control"
                type="date"
                name="fec_alu"
                [(ngModel)]="alumno.fecha_nacimiento"
              />
            </div>
            <div class="form-group mb-2 col-auto">
              <label for="telefono">Telefono</label>
              <input
                class="form-control"
                type="text"
                name="tel_alu"
                [(ngModel)]="alumno.telefono_alumno"
                placeholder="Numero telefonico"
                required
              />
            </div>
            <div class="form-group mb-2 col-auto">
              <label for="correo">Correo</label>
              <input
                class="form-control"
                type="email"
                name="correo"
                [(ngModel)]="user.email"
                placeholder="Correo electronico"
                required
              />
            </div>
          </div>
          <!-- Información de padres -->
          <legend class="content-dark mt-3">Información de los padres</legend>
          <div class="row g-3 align-items-center">
            <div class="form-group mb-2 col-auto">
              <label for="nom_pa">Nombre del Papá</label>
              <input
                class="form-control"
                type="text"
                name="nom_pa"
                [(ngModel)]="alumno.nombre_papa"
                placeholder="Nombre del papá"
                required
              />
            </div>
            <div class="form-group mb-2 col-auto">
              <label for="nom_ma">Nombre de la Mamá</label>
              <input
                class="form-control"
                type="text"
                name="nom_ma"
                [(ngModel)]="alumno.nombre_mama"
                placeholder="Nombre de la mamá"
                required
              />
            </div>
            <div class="form-group mb-2 col-auto">
              <label for="dat_ban_alu">Dato bancario</label>
              <input
                class="form-control"
                type="text"
                name="dat_ban_alu"
                [(ngModel)]="alumno.dato_banco_alumno"
                placeholder="Dato bancario"
                required
              />
            </div>
          </div>
          <!-- Informacion de los grupos -->
        </fieldset>
      </div>
      <div class="text-danger"><b> Para actualizar la contraseña lo debe de hacer cada uno de los usuario en el apartado de Logueo</b> </div>
      <div class="modal-footer">
        <button
          class="btn btn-success"
          type="submit"
          value="Registrar"
          name="Registrar"
          (click)="updateAlumno(alumno.id_alumno)"
        >
          Actualizar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <br>
      </div>
    </div>
  </div>
</div>
