<app-navigation-admin></app-navigation-admin>
<div class="body-page" ngFor="let docentes of docente">
  <div class="m-2">
    <br />
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- Button modal registrar docente -->
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#registrarDocente"
                >
                  Registrar docente
                </button>
              </li>
            </ul>
          </div>
        </div>
        <ul class="navbar-nav me-auto mb-5 mb-lg-0">
          <form class="d-flex">
            <input
              class="form-control me-2 lg-4 me-2"
              name="nif_doc"
              placeholder="Buscar"
              type="number"
              aria-label="Search"
              [(ngModel)]="docent.nif_docente"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
              (click)="getOneDocente(this.docent.nif_docente)"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </ul>
      </nav>
      <div class="col-md-12">
        <div class="card mt-4">
          <div class="card-header mt-4"></div>
          <div>
            <table class="table  table-bordered text-center">
              <thead>
                <tr>
                  <th>NIF DOCENTE</th>
                  <th>NOMBRE DOCENTE</th>
                  <th>TITULO</th>
                  <th>DIRECCIÓN</th>
                  <th>TELEFONO DOCENTE</th>
                  <th>FECHA NACIMIENTO</th>
                  <th>DATO BANCARIO</th>
                  <th>CATEGORIA </th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let docentes of docente">
                  <td>{{ docentes.nif_docente }}</td>
                  <td>{{ docentes.nombre_docente | uppercase }}</td>
                  <td>{{ docentes.titulo | uppercase }}</td>
                  <td>{{ docentes.direccion_docente | uppercase }}</td>
                  <td>{{ docentes.fecha_nacimiento_docente | date: "dd/MM/yyyy" }}</td>
                  <td>{{ docentes.telefono_docente }}</td>
                  <td>{{ docentes.dato_banco_docente }}</td>
                  <td>{{ docentes.tipo }}</td>
                  <td>
                    <button type="button" class="btn btn-info mb-1"
                    (click)="codigoDocente(docentes.nif_docente)" data-bs-toggle="modal"
                    data-bs-target="#UpdateDocente" >
                      <i class="fa-solid fa-pen-to-square"></i></button
                      ><button class="btn btn-danger ms-1" (click)="deleteDocente(docentes.nif_docente)">
                      <i
                        class="fa-solid fa-trash-can"
                      ></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-insert-docente></app-insert-docente>
<app-update-docente></app-update-docente>


