<app-navagation-students></app-navagation-students>
<div class="m-2 mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header mt-4">
                    <div class="card-body mt-4">
                        <h5 class="text-center">Notas</h5>
                        <div class="container">
                            <table class="table table-responsive table-bordered table-hover">
                                <thead>
                                    <tr class="fondotabla">
                                        <th>Materia</th>
                                        <th>Nota1</th>
                                        <th>Nota2</th>
                                        <th>Nota3</th>
                                        <th>Nota4</th>
                                        <th>Nota5</th>
                                        <th>Nota final</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let notas of notas">
                                        <td class="fondomateria">
                                            <h6 class="fondomateria">{{notas.nom_asi}}</h6>
                                        </td>
                                        <td>{{notas.nota1}}</td>
                                        <td>{{notas.nota2}}</td>
                                        <td>{{notas.nota3}}</td>
                                        <td>{{notas.nota4}}</td>
                                        <td>{{notas.nota5}}</td>
                                        <td>{{notas.nota_final}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
