<app-navagation-docente></app-navagation-docente>

<div class="text-justify text-dark m-3">
  <br />

  <div class="mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="text-justify">
          <div class="card">
            <div class="card-header">
              <h2>Información</h2>
            </div>
            <div class="card-body btn-info">
              <form class="cad-body">
                <img
                  src="../../../../../assets/img/logo/logoUser.webp"
                  alt="foto  "
                />
                <div class="form-group">
                  <label for="nombres" class="col-form-label">Nombres</label>
                  <input type="text" name="nombres" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="apellidos" class="col-form-label">
                    apellidos</label
                  >
                  <input type="text" name="apellidos" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="direcion" class="col-form-label">direcion</label>
                  <input type="text" name="direcion" class="form-control" />
                </div>

                <div class="form-group">
                  <label for="telefono" class="col-form-label">telefono</label>
                  <input type="text" name="telefono" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">email:</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder=""
                  />
                </div>
                <br />
                <button type="button" class="btn btn-success">guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 btn-danger">
        <p class="fs-1">
          HAY TIENE EL TRABAJO DEL DIA DE HOY DEJE DE JODER POR HOY. SEÑOR
          PATRON <BR /> <BR />
          MUCHAS GRACIAS
        </p>
      </div>
    </div>
  </div>
</div>
