<app-navagation-docente></app-navagation-docente>

<div class="text-justify text-dark m-3">
  <br>
  <div class="mt-5">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur enim
    quod incidunt? Officiis nemo debitis ipsum modi laborum libero repellendus
    voluptatem quis tempore laboriosam! Itaque animi a perspiciatis minus
    incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
    architecto fuga voluptas. Dolorem, rem illum? Et voluptas odio velit natus?
    Quasi nihil ipsa officia adipisci, voluptas, iusto, sint pariatur voluptatem
    vero dolore ut ipsum veritatis! Provident, ullam impedit tempore reiciendis
    quod aliquam molestiae laborum, dicta aspernatur quae corrupti deleniti
    animi ab quas aperiam maxime, dolores incidunt maiores! Veniam aut numquam
    corporis nihil, velit ullam ipsam, quae perspiciatis eligendi magni dolorum
    saepe sunt, possimus officiis animi ratione debitis iure eveniet doloremque
    nesciunt rerum! Non consequatur explicabo expedita sapiente animi
    repellendus voluptatibus! Error sit eligendi natus dolorem beatae iste
    aperiam cupiditate iusto molestias laudantium quae nulla totam quam
    veritatis eaque, animi vitae debitis culpa eos similique delectus doloribus
    laboriosam. Beatae architecto iste nihil a magni magnam ducimus autem
    quibusdam deserunt, hic asperiores sint ipsam in nostrum earum maiores
    delectus esse provident quaerat error vel dolore laborum tempora atque.
    Temporibus in numquam velit voluptas sit accusamus iusto ipsam itaque earum
    reprehenderit blanditiis quibusdam ratione fugiat neque ullam deserunt cum
    labore fugit nostrum veniam, nulla repellat? Illo asperiores itaque ad fuga,
    possimus quidem modi molestias qui in corrupti natus quod quisquam eum
    tempore nobis ipsum doloribus quos sed facilis sint aspernatur mollitia eos.
    Ipsam eligendi aliquam odio cupiditate similique sunt fugiat repellat quas
    ex, obcaecati velit? Enim nesciunt, eaque ut totam nam voluptates quasi nisi
    nostrum fugit excepturi officia odit ipsum sequi! Quae perspiciatis id nam
    tempora pariatur adipisci laudantium rerum eos consequuntur quasi numquam
    consectetur repellendus voluptate, laborum quos sunt, dolor enim
    dignissimos? Dicta nulla cum placeat sapiente iure assumenda modi impedit
    amet! Neque incidunt nostrum illum non asperiores in voluptatibus cum,
    tempore quisquam perferendis fugiat porro eaque. Blanditiis sit magni vitae
    nemo cumque, dicta assumenda dolores provident suscipit, laboriosam
    reprehenderit nam dolorem ullam voluptate, explicabo quisquam adipisci
    nesciunt hic aut fugiat. Consequatur maxime saepe eligendi natus sunt
    repudiandae facilis mollitia, eos amet facere sequi eaque recusandae
    explicabo corporis! Deserunt, velit eligendi hic esse maxime temporibus
    illum accusantium impedit aspernatur sapiente tempora inventore aliquid
    dignissimos! Suscipit nesciunt magnam inventore perspiciatis quo
    exercitationem, ea dolores ex quasi praesentium facilis alias quidem sequi
    in, quisquam quam id architecto molestias illum dolore, quas reiciendis
    reprehenderit ut. Consequuntur perferendis libero, praesentium minus
    necessitatibus, odit aperiam, eius error delectus ex numquam beatae
    doloremque nisi et iusto ducimus. Veritatis adipisci in fugiat recusandae a
    et nemo odio. Quia ducimus labore asperiores, hic consequuntur voluptatibus
    unde excepturi? Nostrum, ipsa quasi. Assumenda, adipisci quidem magni
    veritatis soluta nisi? Enim quibusdam, praesentium magnam tenetur, quo nemo
    eum, dolorem eaque modi est voluptates qui. Exercitationem ex laudantium
    impedit culpa ab ea iste commodi consequuntur. Laborum deleniti numquam
    assumenda eaque dolorem quibusdam alias laboriosam asperiores similique
    quod. Labore facere illum repellendus cum repudiandae ad sapiente tempora
    soluta beatae corporis placeat, veritatis culpa ut libero voluptates nostrum
    minima. Omnis provident voluptates ducimus quaerat doloribus optio nihil
    perferendis qui quod recusandae soluta, explicabo ratione dolores quibusdam.
    Deserunt magni voluptatum sed sint hic minima, eveniet vel quaerat possimus
    dolor veritatis molestias enim nihil expedita exercitationem ea mollitia?
  </div>
</div>
