<app-navigation-admin></app-navigation-admin>


<div class="container">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="card text-center mt-4">
        <div class="card-header">
          <div class="card-title">
            <h2>Bienvenido {{nameUser}} </h2>
          </div>
        </div>
        <div class="card-body">
          <p>
            Bienvenido {{nameUser}} está es la interfaz del administrador en la cual usted como administrador va tener la forma de apoyar con todo la gestión y el manejo de la información, matriculas y demas que se llevan a cabo en la Institucion Educativa La Normativa Evolution y que gracias a este aplicativo junto el usuario va hacer que se optimiece y sea mas eficiente el trabajo y tengan un mejor control de la información de la Institución Educativa
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

