<app-navigation-admin></app-navigation-admin>

<div class="body-page">
  <div class="m-2">
    <br />

    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card mt-4">
          <div class="card-header mt-4">
            <h3>Bienvenido</h3>

            <p>
              Esta es la intitucion evolution system, esta pagina wed esta
              generada para que tu como estudiante puedas tener una mayor
              agilidd con la visulizacion de sus notas, mejorar las
              posivilidades de acceso a becas y servicios que ofrece nuestra
              institucion
            </p>
          </div>

          <div class="m-2">
            <br />
            <div class="page-header mt-5">
              <br />
              <h2>Sesion Asministrativa</h2>
              <br />
            </div>
            <br />
            <h6>Estas en la pagina principal</h6>
            <div class="row">
              <div class="col-md-7">
                <div class="card mt-4">
                  <div class="card-header mt-4">
                    <h3>Bienvenido</h3>
                    <p>
                      Esta es la intitucion evolution system, esta pagina wed
                      esta generada para que tu como docente puedas tener una
                      mayor agilidad con la información de los estidoantes y
                      docentes, mejorar las posivilidades de acceso a becas y
                      servicios que ofrece nuestra institución
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-5 text-white text-justify">
                <div class="infromacion text-left">
                  <div class="card mt-4">
                    <div class="card-header mt-4">
                      <div class="fondo">
                        <h3>Tus datos</h3>
                        <p>Nombre</p>
                        <p></p>
                        <p>Fecha de nacimiento</p>
                        <p></p>
                        <p>Cargo</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card mt-4">
                  <div class="card-header text-lef">
                    <p class="fondop">Evolution systems</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
