<app-navigation-admin></app-navigation-admin>
<button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#ser_alu">
  Agregar servicio a alumno
</button>
<button class="btn btn-primary ms-2"  routerLink="/admin/servicios" >Ver servicios</button>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">ID ALUMNO</th>
        <th scope="col">NOMBRE DEL ALUMNO</th>
        <th scope="col">TIPO SERVICIO</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">ELIMINAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a_servicios of alumno_servicio">
        <td scope="row">{{a_servicios.id_alu}}</td>
        <td>{{a_servicios.nom_alu | uppercase}}</td>
        <td>{{a_servicios.tipo_ser | uppercase}}</td>
        <td>{{a_servicios.desc_ser | uppercase}}</td>
        <td>
          <button class="btn btn-danger ms-2" (click)="deleteAlu_ser(a_servicios.id_alu,a_servicios.cod_ser)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>

<!--  -->
<!-- Modal agregar alumno servicio -->
<div class="modal fade" id="ser_alu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog text-black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar servicio a alumno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="id_ciclo" class="col-form-label">Alumno: </label>
          <select name="id_alu " class="form-control form-select" [(ngModel)]="alu_ser.id_alumno"
            [ngModelOptions]="{ standalone: true }" required="false">
            <option value="0">Seleccione el Alumno ......</option>
            <option *ngFor="let alumnos of alumnos" value="{{alumnos.id_alu}}">
              {{alumnos.id_alu}} - {{alumnos.nom_alu}}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="id_ciclo" class="col-form-label">Seleccione el servicio </label>
          <select name="cod_ser" class="form-control form-select " [(ngModel)]="alu_ser.cod_servicio"
            [ngModelOptions]="{ standalone: true }" required="false">
            <option value="0">Seleccionar servicio ......</option>
            <option *ngFor="let servicios of servicios" value="{{servicios.cod_ser}}">
              {{servicios.tipo_ser}}
            </option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="createAlu_ser()">Asignar</button>
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refresh()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
