<app-navigation-admin></app-navigation-admin>

<div class="body-page">
  <div class="m-2">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- Button modal registrar curso -->
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#registrarGrado"
                >
                  Registrar Grado
                </button>
              </li>
            </ul>
          </div>
        </div>
        <ul class="navbar-nav me-auto mb-5 mb-lg-0">
          <form class="d-flex">
            <input
              class="form-control me-2 lg-4 me-2"
              name="nif_doc"
              placeholder="Buscar"
              type="number"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </ul>
      </nav>
      <div class="col-md-12 col-xl-12">
        <div class="card">
          <div class="card-header">
            <div class="text-justify m-2">
              <div class="card-body mt-5">
                <div class="row d-flex justify-content-center text-dark">
                  <div
                    class="col-md-3 col-xl-2 mb-2"
                    *ngFor="let grado of grados"
                  >
                    <div class="card">
                      <div class="card-header text-center">
                        <div class="card-tittle">
                          <h3>
                            {{ grado.nombre_grado | uppercase }}
                            {{ grado.nombre_grupo }}
                          </h3>
                          {{ grado.nombre_ciclo }}
                        </div>
                      </div>
                      <div class="card-body">
                        <button
                          ttype="button"
                          class="btn btn-primary btn-block mb-2 ms-1"
                          data-bs-toggle="modal"
                          data-bs-target="#asignarAsignaturas"
                          (click)="cursoEmitidos(grado)"
                        >
                          Agregar Asignaturas
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary btn-block mb-2 ms-3"
                          routerLink="/admin/grupos/{{ grado.id_grado }}"
                        >
                          Ver grupos
                        </button>
                        <button
                          class="btn btn-danger ms-3"
                          (click)="deleteGrado(grado.id_grado)"
                        >
                          Eliminar <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-insert-grado></app-insert-grado>
      <app-insert-asignatura></app-insert-asignatura>
    </div>
  </div>
</div>
