<p>matriculas works!</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolor, illum facere vero quidem deserunt
necessitatibus! Omnis harum numquam laboriosam debitis sed a, amet quos dicta illo ipsum quam necessitatibus!
lorem
<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum quasi, deleniti sequi porro, doloribus, debitis
  ducimus doloremque tenetur possimus pariatur maiores vero minus nulla obcaecati quam reiciendis enim unde sint!</h1>


<div class="container text-dark">







  <div class="body">
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <h1 class="justify-content-center"></h1>
        <!-- requisitos -->
        <div class="col-md-12 text-justify mb-2">
          <p class="into">

          </p>
          <div class="col-md-8">
            <div class=" tarjeta">
              <div class="">
                <h5>Diligencia el formulario</h5>
              </div>
              <div class="">
                <button id="iniciarModal" class="nav-link btn btn-primary form-control btn-block" data-bs-toggle="modal"
                  data-bs-target="#jobs" data-bs-whatever="@mdo">
                  matricula
                </button>
              </div>
            </div>
          </div>



          <!-- Modal para aplicar matricula-->
          <!-- Modal -->
          <div class="modal fade" id="jobs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl ">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="cad-body">
                    <div class="form-group">
                      <label for="documento" class="col-form-label">Nombres:</label>
                      <input type="text" name="Nombres" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="documento" class="col-form-label">Apellidos:</label>
                      <input type="text" name="Nombres" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="documento" class="col-form-label">Direccion:</label>
                      <input type="text" name="Direccion" class="form-control" />
                    </div>

                    <div class="form-group">
                      <label for="documento" class="col-form-label">Telefono:</label>
                      <input type="text" name="Telefono" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="documento" class="col-form-label">Correo:</label>
                      <input type="email" name="Correo" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="documento" class="col-form-label">Descricion :</label>
                      <input type="email" name="Descricion" class="form-control" />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i>
                  </button>
                  <button type="button" class="btn btn-info">
                    <i class="fas fa-sign-in-alt"></i> enviar
                  </button>
                </div>
              </div>
            </div>
          </div>















