
<app-navagation-students></app-navagation-students>

<div class="container">
    <br>
    <div class="page-header">
        <br>
        <h2>Sesion estudiante</h2>
        <br>
    </div>
    <br>
        <h6> Estas en la pagina del progamador</h6>
    <div class="row">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header mt-4">
                    <a routerLink="../estudiantes" class="btn btn-primary text-center">Principal</a>&nbsp;
                    <a routerLink="../progamador" class="btn btn-primary text-center">Progamador</a>&nbsp;
                    <a routerLink="../notas" class="btn btn-primary text-center">Notas</a>&nbsp;
                    <a routerLink="../servicios" class="btn btn-primary text-center">Servicios</a>
                    <div class="card-body mt-4">
                        <p>Progamador</p>
                    </div>
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="fondotabla">
                                <th>Fechas</th>
                                <th>Materia</th>
                                <th>Hora de ingreso</th>
                                <th>Hora de salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>10:00</td>
                            </tr>
                            <tr>
                                <td>Smith</td>
                                <td>Thomas</td>
                                <td>smith@example.com</td>
                                <td>10:00</td>
                            </tr>
                            <tr>
                                <td>Merry</td>
                                <td>Jim</td>
                                <td>merry@example.com</td>
                                <td>10:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-white text-justify">
            <div class="infromacion text-left">
                <div class="card mt-4">
                    <div class="card-header mt-4">
                            <h3>Nombre del estudiante</h3>
                            <p>Numero de identificacion
                            <p>
                            <p>Fecha de nacimiento
                            <p>
                            <p>Grado</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header text-lef">
                    <p class="fondopie">Evolution sisteam</p>
                </div>
            </div>
        </div>
    </div>
</div>

