<app-navagation-students></app-navagation-students>

<div class=" m-2 mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header mt-4">
                    <div class="card-body mt-4">
                        <h5 class="text-center">Progamador</h5>
                        <div class="container">
                            <table class=" table table-responsive table-bordered table-hover ">
                                <thead>
                                    <tr class="fondotabla">
                                        <th>Nombre asignatura</th>
                                        <th>Descripcion asignatura</th>
                                        <th>Docente</th>
                                      <th>Dia</th>
                                      <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let progamador of horario">
                                      <td>{{progamador.nombre_asignatura | uppercase}}</td>
                                      <td>{{progamador.descripcion_asignatura |uppercase}}</td>
                                      <td>{{progamador.nombre_docente | uppercase}}</td>
                                      <td>{{progamador.dia | uppercase}}</td>
                                      <td>{{progamador.hora   }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
