<app-navagation-students></app-navagation-students>

<div class=" m-2 mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header mt-4">
                    <div class="card-body mt-4">
                        <h5 class="text-center">Progamador</h5>
                        <div class="container">
                            <table class=" table table-responsive table-bordered table-hover ">
                                <thead>
                                    <tr class="fondotabla">
                                        <th>Fechas</th>
                                        <th>Materia</th>
                                        <th>Hora de ingreso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let progamador of horario">
                                        <td>{{progamador.fec_hor | date:"dd/MM/yyyy" }}</td>
                                        <td>{{progamador.nom_asi}}</td>
                                        <td>{{progamador.hora}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
