<app-navigation-admin></app-navigation-admin>
<div class="body-page" ngFor="let docentes of docente">
  <div class="m-2">
    <br />
    <h6>Estas en la pagina del docente</h6>
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  routerLink="/admin/registrodo"
                  class="btn btn-primary text-center"
                  >Agregar Profesor</a
                >
              </li>
            </ul>
          </div>
        </div>
        <ul class="navbar-nav me-auto mb-5 mb-lg-0">
          <form class="d-flex">
            <input
              class="form-control me-2 lg-4 me-2"
              name="nif_doc"
              placeholder="Buscar"
              type="number"
              aria-label="Search"
              [(ngModel)]="docent.nif_doc"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
              (click)="getOneDocente(this.docent.nif_doc)"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </ul>
      </nav>
      <div class="col-md-12">
        <div class="card mt-4">
          <div class="card-header mt-4"></div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>NIF DOCENTE</th>
                  <th>NOMBRE DOCENTE</th>
                  <th>AREA DOCENTE</th>
                  <th>DIRECCIÓN</th>
                  <th>TELEFONO DOCENTE</th>
                  <th>FECHA NACIMIENTO</th>
                  <th>DATO BANCARIO</th>
                  <th>ACTUALIZAR/ELIMINAR</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let docentes of docente">
                  <td>{{ docentes.nif_doc }}</td>
                  <td>{{ docentes.nom_doc | uppercase }}</td>
                  <td>{{ docentes.area_doc | uppercase }}</td>
                  <td>{{ docentes.dir_doc | uppercase }}</td>
                  <td>{{ docentes.tel_doc }}</td>
                  <td>{{ docentes.fec_nac_doc | date: "dd/MM/yyyy" }}</td>
                  <td>{{ docentes.dat_ban_doc }}</td>
                  <td>
                    <button class="btn btn-info">
                      <i class="fa-solid fa-pen-to-square"></i></button
                    ><button class="btn btn-danger">
                      <i
                        class="fa-solid fa-trash-can"
                        (click)="deleteDocente(docentes.nif_doc)"
                      ></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card mt-4">
          <div class="card-header text-lef">
            <p class="fondop">Evolution systems</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
