<app-navagation-students></app-navagation-students>

<div class="m-2 mt-4">
  <div class="row text-center">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-header mt-4">
          <div class="card-body mt-4">
            <legend>
              <h5 class="text-center">Tus Servicios</h5>
            </legend>
            <div class="container">
              <table class="table table-hover table table-responsive table-bordered text-center">
                <thead>
                  <tr class="fondotabla">
                    <th>Servicios en los cuales estas </th>
                    <th>Descripción </th>
                    <th>Valor </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let serviciosAlumno of serviciosAlumno">
                    <td>{{serviciosAlumno.tipo_servicio}}</td>
                    <td>{{serviciosAlumno.descripcion_servicio}}</td>
                    <td>{{serviciosAlumno.valor}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-left text-justify">
      <div class="text-left">
        <div class="card mt-4">
          <div class="card-header mt-4">
            <div class="card-body mt-4">
              <form action="servicios.component.html">
                <fieldset>
                  <legend>
                    <h5 class="text-center">Nuevos servicios</h5>
                  </legend>
                  <select class="form-select" name="tiposervicios" [(ngModel)]="mensaje.id_servicio_m">
                    <option value="0" > Seleccione un servicio</option>
                    <option *ngFor=" let servicios of servicios"  value="{{servicios.id_servicio}}" >
                      {{servicios.tipo_servicio}}
                    </option>
                  </select>
                  <br>
                  <br>
                  <input  class="form-control"
                    type="text" name="mensaje" placeholder="Ingrese su mensaje de solicitud" [(ngModel)]="mensaje.mensaje" required />
                </fieldset>
                <br>
                <button class=" btn btn-success" (click)="guardarSolicitud()" >Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
