<app-navagation-docente></app-navagation-docente>
<br />
<br />
<br />

<div class="row d-flex justify-content-center">
  <div class="col-md-10">
    <div class="col-md-5 d-flex">
      <select name="" id="" class="form-select">
        <option value="">primer cemestre</option>
        <option value="">primer cemestre</option>
        <option value="">primer cemestre</option>
      </select>
      <select name="" id="" class="form-select ms-4">
        <option value="">primer cemestre</option>
        <option value="">primer cemestre</option>
        <option value="">primer cemestre</option>
      </select>
    </div>
    <div class="card mt-2">
      <div class="card-header mt-2">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th col>nombres</th>
              <th col>parcial1</th>
              <th col>taller1</th>
              <th col>parcial2</th>
              <th col>taller2</th>
              <th col>
                ejercisio <br />
                practico
              </th>
              <th row>
                evaluacion <br />
                final
              </th>
              <th row>
                nota <br />
                final
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th row>{{ user4 }}</th>
              <td>{{ p1 }}</td>
              <td>{{ t1 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t2 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t3 }}</td>
              <td>{{ tt }}</td>
            </tr>
            <tr>
              <th scope="row">{{ user1 }}</th>
              <td>{{ p1 }}</td>
              <td>{{ t1 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t2 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t3 }}</td>
              <td>{{ tt }}</td>
            </tr>
            <tr>
              <th scope="row">{{ user2 }}</th>
              <td>{{ p1 }}</td>
              <td>{{ t1 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t2 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t3 }}</td>
              <td>{{ tt }}</td>
            </tr>
            <tr>
              <th scope="row">{{ user3 }}</th>
              <td>{{ p1 }}</td>
              <td>{{ t1 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t2 }}</td>
              <td>{{ p2 }}</td>
              <td>{{ t3 }}</td>
              <td>{{ tt }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
