<app-navagation-docente></app-navagation-docente>



<div class=" text-justify center">
    <div class="abs-center"></div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil fugit
    similique qui delectus expedita mollitia vitae laboriosam libero. Excepturi,
    magni! Delectus sequi perspiciatis inventore autem! Odio magnam magni nihil.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam
    totam temporibus pariatur. Tempore, dicta, praesentium nobis asperiores
    nesciunt distinctio officia obcaecati, officiis non voluptas maxime sequi
    corrupti esse quo?Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Odio maxime dolor similique reprehenderit quas minus, sapiente doloribus eaque
    harum ipsam maiores, reiciendis itaque illum consequuntur quidem hic.
    Distinctio, natus mollitia.
   
    <table class="table table-bordered border-primary">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">nombres</th>
          <th scope="col">parcial1</th>
          <th scope="col">taller1</th>
          <th scope="col">parcial2</th>
          <th scope="col">taller2</th>
          <th scope="col">
            ejercisio <br />
            practico
          </th>
          <th scope="row">
            evaluacion <br />
            final
          </th>
          <th scope="row">
            nota <br />
            final
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ user4}}</th>
          <td>{{ p1 }}</td>
          <td>{{ t1 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t2 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t3 }}</td>
          <td>{{ tt }}</td>
        </tr>
        <tr>
          <th scope="row">{{ user1 }}</th>
          <td>{{ p1 }}</td>
          <td>{{ t1 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t2 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t3 }}</td>
          <td>{{ tt }}</td>
        </tr>
        <tr>
          <th scope="row">{{ user2 }}</th>
          <td>{{ p1 }}</td>
          <td>{{ t1 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t2 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t3 }}</td>
          <td>{{ tt }}</td>
        </tr>
        <tr>
          <th scope="row">{{ user3 }}</th>
          <td>{{ p1 }}</td>
          <td>{{ t1 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t2 }}</td>
          <td>{{ p2 }}</td>
          <td>{{ t3 }}</td>
          <td>{{ tt }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>