<div class="body text-dark">
  <div class="row mt-5 m-auto text-dark test-justify">
    <div class="col-md-8 col-xl-9">

      <h4>Bienvenidos a nuestra institución educativa Normative Evolution, donde el aprendizaje y el futuro de sus hijos
        está en buenas manos. </h4> <br>

      <app-slider></app-slider>

      <br>
      <div class="row">

        <div class="  col-md-6 ">
          <h5>Información general </h5>
         Somos una institución que lleva más de 100 años enseñando, dando lo mejor de nosotros para revolucionar las
          praticas de enseñanza y
          mejorar la calidad de educacion que se brinda a nuestros estudiantes.
          <h6>Nombre</h6>
          Institución Educativa la Normativa Evolution
          <h6>Dirección</h6>
         Kilometro 6 vía la pintada
          <h6>Municipio</h6>
         Caldas
          <h6>Departamento</h6>
          Antioquia


        </div>
        <br>
        <div class="  col-md-6">
          <h5>Aulas o Ambientes. </h5>
          En nuestra institución contamos con una amplia adecuación, dotación tecnológica para ambientes, aulas, salas informáticas, laboratorios químicos, laboratorios físicos para el rendimineto de las clases de nuestros alumnos. También tenemos espacios de lectura, cultura, deporte, biblioteca que son del agrado de nuestros estudiantes, promoviendo ambitos saludables para su diario vivir.        
        </div>
        <br>
        <div class=" col-md-9">
          <h5>Docentes y Perosonal Administrativo </h5>
          Contamos con el mejor y especializado grupo de docentes que se encargaran de la educación de los alumnos. Como directivos responsables y eficiente a la hora de realizar labores en su entorno laboral. <br>
          Lo cual ayuda a que nuestra institución brinde un mejor servicio tanto para padres como alumnos.
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xl-3">
      <div class="card-body m-auto">
        <!-- login -->
        <div class="card-header">
          <p>Ingrese para acceder al sistema si ya esta registrado</p>
        </div>
        <div class="card-body">

          <a [routerLink]="'auth/login'" class="btn btn-primary form-control">Ingresar</a>
        </div>
      </div>
    </div>
  </div>

  <section class="m-2" id="AcercaDeNosotros">
    <div class="col-md-10">

      <h5>También para nuestros alumnos tenemos una serie de servicios a los cuales cualquier alumno podrá acceder.
      </h5>
      1. Ruta escolar. <br>
      2. Comedor . <br>
      3. Excursiones .<br>
      4. Talleres.<br>
      La institución implementa un servicio llamado becas, pero este no puede ser accedido por cualquier alumno, se le dará a los alumnos que sobresalgan en nuestra institución
    </div>

  </section>

  <section class="m-2" id="contacto">
    <div class="justify-content-sm-start">
      <ul class="nav nav-pills nav-justified m-2 text-dark">
        <li class="nav-item">
          <p><i class="fa-brands fa-facebook"></i>I.E Normativa Evolution</p>
        </li>
        <li class="nav-item">
          <p><i class="fa-solid fa-envelope"></i>servicioienevolution@gmail.com</p>
        </li>
      </ul>
      <ul class="nav nav-pills nav-justified m-2">
        <li class="nav-item">
          <p><i class="fa-brands fa-twitter-square"></i>I.E Normativa Evolution</p>
        </li>
        <li class="nav-item">
          <p><i class="fa-solid fa-phone-volume"></i> Linea de atencion 018000009992</p>
        </li>

      </ul>

    </div>

    <app-footer></app-footer>
  </section>
</div>