<app-navigation-admin></app-navigation-admin>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <!-- Button modal registrar horario -->
                          <button
                            type="button"
                            (click)="refresh()"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#registrarHorario"
                          >
                            Registrar horario
                          </button>
                        </li>
                      </ul>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered text-center">
                        <thead>
                          <tr>
                            <th scope="col">CÓDIGO</th>
                            <th scope="col">DÍA</th>
                            <th scope="col">HORA</th>
                            <th scope="col">ACCIÓN</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let horario of horarios">
                            <td>{{ horario.id_horario }}</td>
                            <td>{{ horario.dia | uppercase }}</td>
                            <td>{{ horario.hora  }}</td>
                            <td>
                               <button
                                          class="btn btn-info md-2"
                                          data-bs-toggle="modal"
                                          data-bs-target="#actualizarHorario"
                                          (click)="getOneHorario(horario.id_horario)"
                                        >
                                          <i class="fa-solid fa-pen-to-square"></i></button
                                        ><button
                                          class="btn btn-danger ms-2"
                                          (click)="deleteHorario(horario.id_horario)"
                                        >
                                          <i class="fa-solid fa-trash-can"></i>
                                        </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal registrar horario -->
<div
  class="modal fade"
  id="registrarHorario"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog text-black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrar horario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Día</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="Horario.dia"
          />
        </div>
        <div class="mb-3">
            <label class="form-label">Hora</label>
            <input
              type="time"
              class="form-control"
              [(ngModel)]="Horario.hora"
            />
          </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-success" (click)="createHorario()">
          Guardar
        </button>
        <button type="button" id="cancelar" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal actualizar horario -->
<div
  class="modal fade"
  id="actualizarHorario"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog text-black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Actualizar Horario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Identificador</label
          >
          <input
            type="text"
            class="form-control"
            name="Horario.cod_hor"
            [(ngModel)]="Horario.id_horario"
            placeholder="Codigo para el horario"
            readonly
          />
        </div>
        <div class="mb-3">
            <label class="form-label">Día</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Horario.dia"
            />
          </div>
          <div class="mb-3">
              <label class="form-label">Hora</label>
              <input
                type="time"
                class="form-control"
                [(ngModel)]="Horario.hora"
              />
            </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-success" (click)="updateHorario()">
          Actualizar
        </button> 
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>