<app-navigation-admin></app-navigation-admin>
<div class="body-page text-dark">
  <div class="m-2">
    <br />
    <h6>Estas en la pagina de grupos</h6>
    <div class="row">
      <div class="col-md-2">
        <div class="card mt-4">
          <div class="card-header mt-4">
            <a
              routerLink="/admin/registrodo"
              class="btn btn-primary text-center"
              >Registrar</a
            ><br /><br />
            <a
              routerLink="/admin/verificardo"
              class="btn btn-primary text-center"
              >Verificar</a
            ><br /><br />
            <a
              routerLink="/admin/actualizardo"
              class="btn btn-primary text-center"
              >Actualizar</a
            ><br /><br />
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-header mt-4">
          <h3>Actualizar</h3>
          <div class="abs-center">
            <div class="card mt-4">
              <form class="was-validated">
                <fieldset >
                  <legend class="abs-center">Actualizar docente</legend>
                  <label for="nif"> Nif </label><br />
                  <input
                    class="form-control"
                    type="number"
                    name="nif"
                    placeholder="Ingrese su nif"
                    [(ngModel)]="docentes.nif_doc"
                    readonly
                  />
                  <br />
                  <label for="nombres">Nombres</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="nombres"
                    [(ngModel)]="docentes.nom_doc"
                    placeholder="Ingrese su nombre completo"
                  />
                  <br />
                  <label for="asignatura">Area docente</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="asignatura"
                    [(ngModel)]="docentes.titulo"
                    placeholder="Asignaturda que domina"
                  />
                  <br />
                  <label for="direccion">Direccion</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="direccion"
                    [(ngModel)]="docentes.dir_doc"
                    placeholder="Ingrese su direccion"
                  />
                  <br />
                  <label for="telefono">Telefono</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="telefono"
                    [(ngModel)]="docentes.tel_doc"
                    placeholder="Numero telefonico"
                  />
                  <br />
                  <label for="fecha">Fecha de nacimiento</label><br />
                  <input
                    class="form-control"
                    type="date"
                    name="fecha"
                    [(ngModel)]="docentes.fec_nac_doc "

                  />
                  <br />
                  <label for="dbamcario">Dato bancario</label><br />
                  <input
                    class="form-control"
                    type="text"
                    name="dbancairo"
                    [(ngModel)]="docentes.dat_ban_doc"
                    placeholder="Dato bancario"
                  />
                  <br />
                  <input
                    class="btn btn-success form-control"
                    type="submit"
                    (click)="edit ? updateDocente(): ngOnInit() "
                    value="Modificar"
                    name="Modificar"
                  />
                </fieldset>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
