<app-navagation-docente></app-navagation-docente>

<div class="text-justify center">
    <div class="abs-center"></div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil fugit
    similique qui delectus expedita mollitia vitae laboriosam libero. Excepturi,
    magni! Delectus sequi perspiciatis inventore autem! Odio magnam magni nihil.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam
    totam temporibus pariatur. Tempore, dicta, praesentium nobis asperiores
    nesciunt distinctio officia obcaecati, officiis non voluptas maxime sequi
    corrupti esse quo?Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Odio maxime dolor similique reprehenderit quas minus, sapiente doloribus eaque
    harum ipsam maiores, reiciendis itaque illum consequuntur quidem hic.
    Distinctio, natus mollitia. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Veritatis laborum dolor perspiciatis sequi at voluptatem impedit fugiat
    ex consectetur adipisci consequatur error, repellendus harum ea numquam ut
    tenetur excepturi quis.
  
    <table class="table table-bordered border-primary">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Sexo</th>
          <th scope="col">Edad</th>
          <th scope="col">Tipo</th>
          <th scope="col">Documento</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo <br /></th>
          <th scope="cel">Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ user }}</th>
          <td>{{ a }}</td>
          <td>{{ b }}</td>
          <td>{{ c }}</td>
          <td>{{ d }}</td>
          <td>{{ e }}</td>
          <td>{{ f }}</td>
          <td>{{ g }}</td>
          <td>{{ h }}</td>
          <td>{{ i }}</td>
        </tr>
        <tr>
          <th scope="row">{{ user1 }}</th>
          <td>{{ a1 }}</td>
          <td>{{ b1 }}</td>
          <td>{{ c1 }}</td>
          <td>{{ d1 }}</td>
          <td>{{ e1 }}</td>
          <td>{{ f1 }}</td>
          <td>{{ g1 }}</td>
          <td>{{ h1 }}</td>
          <td>{{ i1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>