<app-navagation-docente></app-navagation-docente>

<br />
<br />
<br />

<div class="card">
  <div class="card-body">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <button type="button" class="btn btn-info m">Actualizar</button>
      </li>
      <li class="nav-item m-1">
        <button type="button" class="btn btn-info m">Eliminar</button>
      </li>
      <li class="nav-item m-1">
        <button type="button" class="btn btn-info m">Insertar</button>
      </li>
      <li class="nav-item m-1">
        <button type="button" class="btn btn-info m">Buscar</button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="card mt-2">
      <div class="card-header mt-2">
        <table class="table table-bordered">
          <thead>
            <tr>
              <!-- <th col>N°</th> -->
              <th col>Documento</th>
              <th col>Nombres</th>
              <th col>Direccion</th>
              <th col>Telefono</th>
              <th col>Fecha Nacimiento</th>
              <th col>Nombre Papá</th>
              <th col>Nombre Mamá</th>
              <th col>Cuenta de Banco</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estudiante of estudiantes">
              <th row>{{ estudiante.id_alu}}</th>
              <td>{{ estudiante.nom_alu }}</td>
              <td>{{ estudiante.dire_alu }}</td>
              <td>{{ estudiante.tel_alu }}</td>
              <td>{{ estudiante.fec_alu | date: 'dd-MM-yyyy' }}</td>
              <td>{{ estudiante.nom_pa }}</td>
              <td>{{ estudiante.nom_ma }}</td>
              <td>{{ estudiante.dat_ban_alu }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
