<div class="container text-dark">
  <div class="row">
    <p>
      Para porder realizar la recuperación de su contraseña por favor ingresar
      el correo con el cual fue registrado y su tipo de documento
    </p>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title text-center">Restablecer Contraseña</h2>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <label for="documento" class="col-form-label"
              >Numero de documento:</label
            >
            <input
              type="text"
              name="documento"
              class="form-control"
              [(ngModel)]="user.documento"
              required
            />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Correo: </label>
            <input
              type="email"
              [(ngModel)]="user.email"
              name="email"
              id="mail"
              class="form-control"
              required
            />
          </div>

          <div *ngIf="existUser">
            <!-- Se puede hacer el cambio de la cantraseña -->
            <div class="form-group">
              <label for="contraseña" class="col-form-label">Contraseña:</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder=""
                [(ngModel)]="user.contrasena"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <div *ngIf="information">
              <!-- Se le envia el mensaje si ocurrio un error -->
              <p class="text-danger">{{ mensaje }}</p>
            </div>
            <div *ngIf="!existUser">
              <button
                type="submit"
                class="btn btn-success form-control searchUser"
                (click)="searchUser()"
              > Enviar
              </button>
            </div>
            <div *ngIf="existUser">
              <button
                type="submit"
                class="btn btn-success form-control btn-block"
                (click)="restorePassword()"
              >
                Registrar Contraseña
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
