<app-navagation-docente></app-navagation-docente>


<div class="text-justify bg">
    <div class="card-body">
      <button
        type="button"
        class="btn ms-2 btn-primary"
        data-bs-toggle="button"
        autocomplete="off"
      >
        GRUPO1 <br> ADSI 123434 <br />
        <img
          class="img-grupos"
          src="../../../../../assets/img/logo/logo.jpeg"
        />
        <br />
        <button type="button" class="btn btn-secondary">notas</button> 
        <button type="button" class="btn btn-secondary">alumnos</button>
      </button>
      <button
        type="button"
        class="btn ms-2 btn-primary active"
        data-bs-toggle="button"
        autocomplete="off"
        aria-pressed="true"
      >
        GRUPO 2 <br /> ADSI 2345676543 <br>
        <img
          class="img-grupos"
          src="../../../../../assets/img/logo/logo.jpeg"
        />
        <br />
        
        <button type="button" class="btn btn-secondary">notas</button> 
        <button type="button" class="btn btn-secondary">alumnos</button>
      </button>
      <button
        type="button"
        class="btn ms-2 btn-primary"
        data-bs-toggle="button"
        autocomplete="off"
      >
        GRUPO 3 <br /> ADSI 12343245 <br>
        <img
          class="img-grupos"
          src="../../../../../assets/img/logo/logo.jpeg"
        />
        <br />
        
        <button type="button" class="btn btn-secondary">notas</button> 
        <button type="button" class="btn btn-secondary">alumnos</button>
      </button>
    </div>
  </div>